In [1]:
!pip install mysql-connector
!pip install sqlalchemy
import requests
import pandas as pd
from pprint import pprint
import time
import mysql.connector
from sqlalchemy import create_engine
from IPython.display import display
from IPython.display import Markdown
from io import StringIO

hostname = 'blockchain.cabkhfmbe846.us-east-2.rds.amazonaws.com'
username = 'user'
password = 'notatotallysafepassword'
database = 'Blockchain'
port = 3306

Collecting mysql-connector
  Downloading https://files.pythonhosted.org/packages/59/e0/775bf5fb3dd4c7f9aa6877907d4a96eecca6886c603dedfea6e843e94560/mysql-connector-2.1.6.tar.gz (11.8MB)
    100% |████████████████████████████████| 11.8MB 3.7MB/s
Building wheels for collected packages: mysql-connector
  Running setup.py bdist_wheel for mysql-connector ... - \ done
  Stored in directory: /content/.cache/pip/wheels/8a/35/dd/9324d413c350bd1a9f92ee2894d78a4b4e19eb32477a69cd1c
Successfully built mysql-connector
Installing collected packages: mysql-connector
Successfully installed mysql-connector-2.1.6
Collecting sqlalchemy
  Downloading https://files.pythonhosted.org/packages/c1/c8/392fcd2d01534bc871c65cb964e0b39d59feb777e51649e6eaf00f6377b5/SQLAlchemy-1.2.7.tar.gz (5.6MB)
    100% |████████████████████████████████| 5.6MB 5.4MB/s
Building wheels for collected packages: sqlalchemy
  Running setup.py bdist_wheel for sqlalchemy ... - \ | / - \ | / done
  Stored in directory: /content/.cache/pip/wheels/89/38/e1/e121d77c19eeeee42baabc2e623f08285267daedbf2fea9dd7
Successfully built sqlalchemy
Installing collected packages: sqlalchemy
Successfully installed sqlalchemy-1.2.7

In [0]:
countryIDs = {
    0:"World",
    4:"Afghanistan",
    528:"Netherlands"
    }
def chunks(l, n):
    """Yield successive n-sized chunks from l."""
    for i in range(0, len(l), n):
        yield l[i:i + n]
def getData(r=[0],px="HS",ps=2016,p=[0],rg="all",cc=[],max=500,type="C",freq="A",fmt="csv", head="M"):
  for country in r:
    url = "https://comtrade.un.org/api/get?r={}&px={}&ps={}&p={}&rg={}&cc={}&max={}&fmt={}&type={}&freq={}&head={}"
    partnerLists = list(chunks(p,5))
    HSLists = list(chunks(cc,5))
    for partnerList in partnerLists:
      for HSList in HSLists:
        codedURL = url.format(country,px,ps,"%2C".join(map(str,partnerList)),rg,"%2C".join(map(str,HSList)),max,fmt,type,freq,head)
        print(codedURL)
        resp = requests.get(codedURL)
        text = resp.text
        time.sleep(1)
        if fmt.lower() == "csv":
          yield StringIO(text)
        else:
          yield resp.json()   
def doQuery (conn):
  cur = conn.cursor()
  cur.execute("SELECT * FROM Blockchain.cocoapuffs WHERE cmdCode=1701")
  for data in cur.fetchall():
    print(data)

In [70]:
conn = mysql.connector.connect(host=hostname,user=username,passwd=password,db=database)
doQuery(conn)
conn.close()

(2016, 1, 276, 'Germany', 56, 'Belgium', 45234634, '1701', 30278272)
(2016, 2, 276, 'Germany', 56, 'Belgium', 47845776, '1701', 29128813)
(2016, 1, 276, 'Germany', 251, 'France', 206520333, '1701', 103552548)
(2016, 2, 276, 'Germany', 251, 'France', 79351567, '1701', 50010958)
(2016, 2, 276, 'Germany', 384, "Côte d'Ivoire", 160, '1701', 135)
(2016, 1, 276, 'Germany', 528, 'Netherlands', 94737470, '1701', 56605169)
(2016, 2, 276, 'Germany', 528, 'Netherlands', 63114161, '1701', 35113897)
(2016, 1, 276, 'Germany', 616, 'Poland', 105399989, '1701', 56483452)
(2016, 2, 276, 'Germany', 616, 'Poland', 87508662, '1701', 44035588)
(2016, 1, 276, 'Germany', 566, 'Nigeria', 50, '1701', 191)
(2016, 2, 276, 'Germany', 566, 'Nigeria', 434, '1701', 2085)

In [0]:
real = "https://comtrade.un.org/api/get?r=276&px=HS&ps=2016&p=528%2C251%2C56%2C384%2C616&rg=1&cc=1701%2C1801%2C1804&max=500&fmt=json&type=C&freq=A&head=M"
for url in list(getData(r=[276],p=[528,251,56,384,616,566],cc=[1701,1801,1804],rg=1)):
  print(url)
  print()

In [0]:
def storeIntoFrame(**kargs):
  df, new_frame = None, None
  #r=[276],p=[528,251,56,384,616,566],cc=[1701,1801,1804],rg="all",fmt="json",head="M"
  for data in getData(**kargs):
    new_frame = pd.DataFrame(data['dataset'])
    df = pd.concat([df, new_frame])
  return df

In [4]:
my_frame= storeIntoFrame(r=[276],p=["all"],cc=[1806],rg=2,head="M",fmt="json")
# for st in getDataJSON(r=[276],p=[528,251,56,384,616,566],cc=[1701,1801,1804],rg="all", head="M"):
#   print(st['dataset'])

https://comtrade.un.org/api/get?r=276&px=HS&ps=2016&p=all&rg=2&cc=1806&max=500&fmt=json&type=C&freq=A&head=M

In [5]:
important_columns = ['yr','rgCode', 'rtCode','rtTitle', 'ptCode', 'ptTitle', 'TradeQuantity', 'cmdCode', 'TradeValue']
my_frame = my_frame[important_columns]
my_frame

,yr,rgCode,rtCode,rtTitle,ptCode,ptTitle,TradeQuantity,cmdCode,TradeValue
0,2016,2,276,Germany,0,World,830759464,1806,4503325995
1,2016,2,276,Germany,4,Afghanistan,6703,1806,52913
2,2016,2,276,Germany,8,Albania,808025,1806,4226142
3,2016,2,276,Germany,12,Algeria,1563428,1806,7592050
4,2016,2,276,Germany,20,Andorra,50217,1806,644951
5,2016,2,276,Germany,24,Angola,3841,1806,60093
6,2016,2,276,Germany,31,Azerbaijan,232647,1806,2463684
7,2016,2,276,Germany,32,Argentina,303050,1806,2462263
8,2016,2,276,Germany,36,Australia,10324306,1806,74487645
9,2016,2,276,Germany,40,Austria,51465895,1806,309598598
10,2016,2,276,Germany,48,Bahrain,161933,1806,1546707
11,2016,2,276,Germany,51,Armenia,284047,1806,1975169
12,2016,2,276,Germany,52,Barbados,490,1806,4715
13,2016,2,276,Germany,56,Belgium,46538649,1806,208346348
14,2016,2,276,Germany,68,Bolivia (Plurinational State of),9534,1806,44602
15,2016,2,276,Germany,70,Bosnia Herzegovina,908761,1806,5615419
16,2016,2,276,Germany,72,Botswana,1750,1806,12099
17,2016,2,276,Germany,76,Brazil,1478496,1806,14917629
18,2016,2,276,Germany,96,Brunei Darussalam,31748,1806,327086
19,2016,2,276,Germany,100,Bulgaria,8324858,1806,40095468
20,2016,2,276,Germany,104,Myanmar,3080,1806,43559
21,2016,2,276,Germany,108,Burundi,755,1806,7527
22,2016,2,276,Germany,112,Belarus,410311,1806,3245467
23,2016,2,276,Germany,116,Cambodia,8400,1806,105627
24,2016,2,276,Germany,120,Cameroon,472,1806,3767
25,2016,2,276,Germany,124,Canada,9803539,1806,61471615
26,2016,2,276,Germany,132,Cabo Verde,2867,1806,28675
27,2016,2,276,Germany,140,Central African Rep.,161,1806,598
28,2016,2,276,Germany,144,Sri Lanka,97330,1806,1332590
29,2016,2,276,Germany,152,Chile,1610854,1806,10709389
...,...,...,...,...,...,...,...,...,...
138,2016,2,276,Germany,710,South Africa,2407057,1806,16386778
139,2016,2,276,Germany,716,Zimbabwe,27223,1806,396159
140,2016,2,276,Germany,724,Spain,36154723,1806,159494238
141,2016,2,276,Germany,728,South Sudan,587,1806,7109
142,2016,2,276,Germany,729,Sudan,308,1806,2725
143,2016,2,276,Germany,740,Suriname,53949,1806,173420
144,2016,2,276,Germany,752,Sweden,15892970,1806,81366388
145,2016,2,276,Germany,757,Switzerland,15878163,1806,126718162
146,2016,2,276,Germany,760,Syria,6472,1806,67833
147,2016,2,276,Germany,762,Tajikistan,3315,1806,34903
148,2016,2,276,Germany,764,Thailand,634826,1806,7342793
149,2016,2,276,Germany,768,Togo,2278,1806,12084
150,2016,2,276,Germany,780,Trinidad and Tobago,7679,1806,32274
151,2016,2,276,Germany,784,United Arab Emirates,3878852,1806,36720436
152,2016,2,276,Germany,788,Tunisia,370108,1806,3397013
153,2016,2,276,Germany,792,Turkey,7133452,1806,56669557
154,2016,2,276,Germany,795,Turkmenistan,45810,1806,606374
155,2016,2,276,Germany,800,Uganda,12183,1806,155218
156,2016,2,276,Germany,804,Ukraine,1964444,1806,9767679
157,2016,2,276,Germany,807,TFYR of Macedonia,576485,1806,3154333
158,2016,2,276,Germany,818,Egypt,566747,1806,4002862
159,2016,2,276,Germany,826,United Kingdom,103109388,1806,520988231
160,2016,2,276,Germany,834,United Rep. of Tanzania,10257,1806,112728
161,2016,2,276,Germany,837,Bunkers,555508,1806,5514130
162,2016,2,276,Germany,842,USA,20170432,1806,138046616
163,2016,2,276,Germany,858,Uruguay,531834,1806,8036577
164,2016,2,276,Germany,860,Uzbekistan,51863,1806,578711
165,2016,2,276,Germany,862,Venezuela,4257,1806,37783
166,2016,2,276,Germany,887,Yemen,67865,1806,291510
167,2016,2,276,Germany,894,Zambia,4456,1806,48559

In [0]:
engine = create_engine('mysql+mysqlconnector://{user}:{password}@{host}:{port}/{database}'.format(user=username,password=password,host=hostname,port=port,database=database), echo=False)
cnx = engine.connect()
my_frame.to_sql(name='cocoapuffs', con=cnx, if_exists='append', index=False)#if_exists 'append' or 'replace'

In [0]:
rows = engine.execute("SELECT rgCode, rtCode, ptCode, cmdCode, Count(*) FROM cocoapuffs GROUP BY rgCode, rtCode, ptCode, cmdCode HAVING COUNT(*) > 1")
#rows = engine.execute("SELECT id, rgCode, rtCode, ptCode FROM cocoapuffs u, cocoapuffs u2 WHERE u.rtCode = u2.rtCode AND u.rgCode = u2.rgCode AND u.ptCode = u2.ptCode AND u.id > u2.id")
for row in rows:
    print(row)

In [0]:
total_records = my_frame[my_frame['ptCode'] == 0]
world_records = my_frame[my_frame['ptCode'] != 0]

In [0]:
#1 for imports, 2 for exports
total_cocoa_import = total_records[total_records['rgCode'] == 1]['TradeQuantity']
total_cocoa_export = total_records[total_records['rgCode'] == 2]['TradeQuantity']
cocoa_imports = world_records[world_records['rgCode'] == 1]
cocoa_exports = world_records[world_records['rgCode'] == 2]

In [53]:
cocoa_imports.loc[:,'Percentage'] = (cocoa_imports['TradeQuantity']/int(total_cocoa_import))*100
cocoa_exports.loc[:,'Percentage'] = (cocoa_exports['TradeQuantity']/int(total_cocoa_export))*100

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:537: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [68]:
cocoa_imports.sort_values('Percentage',ascending=False)[:10]

,yr,rgCode,rtCode,rtTitle,ptCode,ptTitle,TradeQuantity,cmdCode,TradeValue,Percentage
120,2016,1,528,Netherlands,384,Côte d'Ivoire,286625038,1801,906392244,35.013495
87,2016,1,528,Netherlands,288,Ghana,168529516,1801,529334346,20.587201
38,2016,1,528,Netherlands,120,Cameroon,113694677,1801,349419956,13.888696
180,2016,1,528,Netherlands,566,Nigeria,113478097,1801,344778769,13.862239
191,2016,1,528,Netherlands,604,Peru,29854756,1801,97234319,3.646992
141,2016,1,528,Netherlands,430,Liberia,26989532,1801,80876514,3.296983
64,2016,1,528,Netherlands,218,Ecuador,24033686,1801,73450249,2.935903
63,2016,1,528,Netherlands,214,Dominican Rep.,12180849,1801,40331135,1.487986
20,2016,1,528,Netherlands,56,Belgium,9786631,1801,30928599,1.195514
212,2016,1,528,Netherlands,694,Sierra Leone,9551793,1801,28995993,1.166826

In [71]:
my_frame[my_frame['ptTitle'] == 'Denmark']

,yr,rgCode,rtCode,rtTitle,ptCode,ptTitle,TradeQuantity,cmdCode,TradeValue
60,2016,1,528,Netherlands,208,Denmark,19792,1801,53644
61,2016,2,528,Netherlands,208,Denmark,86573,1801,238355